In [55]:
import pandas as pd

Patient_Details = pd.read_csv(
    "https://raw.githubusercontent.com/dwahane/datascience_project/master/Patient_Details_22112020.csv"
)
Patient_Details.head()

  Customer_Name|Customer_Id|Open_Date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|DOB|Is_Active
0  John|123456|20101012|20121013|MVD|Paul|NSW|AU|...
1  Alex|123457|20101012|20121013|MVD|Paul|SA|USA|...
2  Mathew|123457|20101012|20121013|MVD|Paul|WAS|P...
3  Matt|123457|20101012|20121013|MVD|Paul|TN|IND|...
4  Jacob|123457|20101012|20121013|MVD|Paul|VIC|AU...

In [56]:
df_data_1 = pd.read_csv("https://raw.githubusercontent.com/dwahane/datascience_project/master/Patient_Details_22112020.csv",sep='|', index_col=False)

In [57]:
df_data_1.head()

,Customer_Name,Customer_Id,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,Country,DOB,Is_Active
0,John,123456,20101012,20121013,MVD,Paul,NSW,AU,6031987,A
1,Alex,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A
2,Mathew,123457,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A
3,Matt,123457,20101012,20121013,MVD,Paul,TN,IND,6031987,A
4,Jacob,123457,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

In [58]:
new = Patient_Details[
    "Customer_Name|Customer_Id|Open_Date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|DOB|Is_Active"
].str.split("|", n=9, expand=True)

#!/usr/bin/python
# -*- coding: utf-8 -*-
Patient_Details["Name"] = new[0]
Patient_Details["Cust_Id"] = new[1]
Patient_Details["Open_Dt"] = new[2]
Patient_Details["Consul_Dt"] = new[3]
Patient_Details["VAC_ID"] = new[4]
Patient_Details["DR_Name"] = new[5]
Patient_Details["State"] = new[6]
Patient_Details["Country"] = new[7]
Patient_Details["DOB"] = new[8]
Patient_Details["FLAG"] = new[9]
Patient_Details.drop(
    columns=[
        "Customer_Name|Customer_Id|Open_Date|Last_Consulted_Date|Vaccination_Id|Dr_Name|State|Country|DOB|Is_Active"
    ],
    inplace=True,
)

In [59]:
Patient_Details

,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
0,John,123456,20101012,20121013,MVD,Paul,NSW,AU,6031987,A
1,Alex,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A
2,Mathew,123457,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A
3,Matt,123457,20101012,20121013,MVD,Paul,TN,IND,6031987,A
4,Jacob,123457,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

In [43]:
India_Table_raw = Patient_Details["Country"] == "IND"

India_Table_raw.head()

0    False
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [44]:
India_Table = Patient_Details[India_Table_raw]

India_Table.head()

   Name Cust_Id   Open_Dt Consul_Dt VAC_ID DR_Name State Country      DOB FLAG
3  Matt  123457  20101012  20121013    MVD    Paul    TN     IND  6031987    A

In [45]:
Australia_Table_Raw =  Patient_Details['Country']=='AU'

Australia_Table_Raw.head()

0     True
1    False
2    False
3    False
4     True
Name: Country, dtype: bool

In [46]:
Australia_Table = Patient_Details[Australia_Table_Raw]

Australia_Table.head()

,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
0,John,123456,20101012,20121013,MVD,Paul,NSW,AU,6031987,A
4,Jacob,123457,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

In [47]:
USA_Table_Raw =  Patient_Details['Country']=='USA'

USA_Table_Raw.head()

0    False
1     True
2    False
3    False
4    False
Name: Country, dtype: bool

In [48]:
USA_Table = Patient_Details[USA_Table_Raw]

USA_Table.head()

   Name Cust_Id   Open_Dt Consul_Dt VAC_ID DR_Name State Country      DOB FLAG
1  Alex  123457  20101012  20121013    MVD    Paul    SA     USA  6031987    A

In [49]:
Phil_Table_Raw =  Patient_Details['Country']=='PHIL'

Phil_Table_Raw.head()

0    False
1    False
2     True
3    False
4    False
Name: Country, dtype: bool

In [28]:
Phil_Table = Patient_Details[Phil_Table_Raw]

Phil_Table.head()

,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
2,Mathew,123457,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A

In [69]:
Phil_Table.to_csv('Phil_Table.csv', index ='false')
Phil_File= pd.read_csv("Phil_Table.csv")
Phil_File.head()

,Unnamed: 0,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
0,2,Mathew,123457,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A

In [68]:
USA_Table.to_csv('USA_Table.csv', index ='false')
USA_File= pd.read_csv("USA_Table.csv")
USA_File.head()

,Unnamed: 0,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
0,1,Alex,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A

In [67]:
Australia_Table.to_csv('Australia_Table.csv', index ='false')
Australia_File= pd.read_csv("Australia_Table.csv")
Australia_File.head()

,Unnamed: 0,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
0,0,John,123456,20101012,20121013,MVD,Paul,NSW,AU,6031987,A
1,4,Jacob,123457,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

In [66]:
India_Table.to_csv('India_Table.csv', index ='false')
India_File= pd.read_csv("India_Table.csv")
India_File.head()

,Unnamed: 0,Name,Cust_Id,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,Country,DOB,FLAG
0,3,Matt,123457,20101012,20121013,MVD,Paul,TN,IND,6031987,A